#sidebar {
  border: 1px solid #e8e8e8;
}

.bs-sidenav.affix {
  position: static;
}

body {
    padding-top: 70px;
}

#sidebar {
  padding: 10px;
  overflow: auto;
}

/* First level of nav */
.bs-sidenav {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top:    10px;
  padding-bottom: 10px;
  text-shadow: none;
  background-color: #fafafa;
  border-radius: 0;
}

.bs-sidenav > .nav {
  margin-bottom: 10px;
}

/* All levels of nav */
.bs-sidenav .nav > li > a {
  display: block;
  color: #008cba;
  padding: 10px 15px;
}

.bs-sidenav .nav > li > a:hover,
.bs-sidenav .nav > li > a:focus {
  font-weight: bold;
  color: #00526e;
  text-decoration: none;
  background-color: #eee;
  border-right: 1px solid #00526e;
}
.bs-sidenav .nav > .active > a,
.bs-sidenav .nav > .active:hover > a,
.bs-sidenav .nav > .active:focus > a {
  font-weight: bold;
  color: #008cba;
  background-color: transparent;
  border-right: 1px solid #008cba;
}

.bs-sidenav .nav .nav > li > a {
  padding-top:    3px;
  padding-bottom: 3px;
  padding-left: 30px;
  font-size: 90%;
}

.bs-sidenav .nav .nav .nav > li > a {
  padding-top:    3px;
  padding-bottom: 3px;
  padding-left: 40px;
  font-size: 90%;
}

.bs-sidenav .nav .nav .nav .nav > li > a {
  padding-top:    3px;
  padding-bottom: 3px;
  padding-left: 50px;
  font-size: 90%;
}

/* Show and affix the side nav when space allows it */
@media screen and (min-width: 992px) {
  .bs-sidenav .nav > .active > ul {
    display: block;
  }
  /* Widen the fixed sidenav */
  .bs-sidenav.affix,
  .bs-sidenav.affix-bottom {
    width: 213px;
  }
  .bs-sidenav.affix {
    position: fixed; /* Undo the static from mobile first approach */
  }
  .bs-sidenav.affix-bottom {
    position: absolute; /* Undo the static from mobile first approach */
  }
  .bs-sidenav.affix-bottom .bs-sidenav,
  .bs-sidenav.affix .bs-sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  /* Widen the fixed sidenav again */
  .bs-sidenav.affix-bottom,
  .bs-sidenav.affix {
    width: 263px;
  }
}
